.card {
  display: flex;
  grid-gap: 2rem;
  align-items: center;
  margin-bottom: 3rem;
  padding: 2rem;
  cursor: pointer;

  &:hover {
    box-shadow: 0 2rem 6rem 0.5rem rgba(97, 85, 81, 0.2);
  }

  &__image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  &__details {
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 1.5;
    & h3 {
      color: #eba83a;
    }

    & h4 {
      color: #f7a440;
    }
  }
}
